<header></header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <input type="number" class="form-control" id="number1" name="number1" placeholder="Número 1" [(ngModel)]="a">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="number2" name="number2" placeholder="Número 1" [(ngModel)]="b">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="addNumbers()">Sumar</button><br>
      <button type="button" class="btn btn-primary" (click)="subtractNumbers()">Restar</button><br>
      <button type="button" class="btn btn-primary" (click)="multiplyNumbers()">Multiplicar</button><br>
      <button type="button" class="btn btn-primary" (click)="divideNumbers()">Dividir</button><br>
      <p>Result: {{ result }}</p><br>
    </div>
  </div>
</div>
